
.vs

DGE old/
DGEMinecraft/
DGENothenderProgram/

**/obj
**/bin

config-exp.txt
config.txt

pyUtils.py

TestMinecraftServer/
minecraftServerStart.bat
nothenderBotConfigDebug.txt
nothenderBotConfig.txt
